/* line 316, ../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.3.0/";
}

/* line 320, ../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 325, ../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 330, ../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 335, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 340, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 345, ../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 352, ../scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 357, ../scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 362, ../scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 365, ../scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 378, ../scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 381, ../scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 383, ../scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 389, ../scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 394, ../scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 395, ../scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 168, ../scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 169, ../scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 397, ../scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 403, ../scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 406, ../scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 416, ../scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 419, ../scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 5, ../scss/app.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../scss/app.scss */
#top-nav {
  background: #2c9df0;
}
/* line 13, ../scss/app.scss */
#top-nav .contain-to-grid {
  background: #2c9df0;
}
/* line 17, ../scss/app.scss */
#top-nav ul {
  list-style: none;
  display: inline;
}
/* line 21, ../scss/app.scss */
#top-nav ul li {
  float: left;
  padding-left: 120px;
}
/* line 25, ../scss/app.scss */
#top-nav ul li a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

/* line 36, ../scss/app.scss */
#about-me {
  padding: 60px 0;
}
/* line 39, ../scss/app.scss */
#about-me h1 {
  color: #31393e;
  font-size: 24px;
  font-weight: 400;
}
/* line 45, ../scss/app.scss */
#about-me p {
  font-size: 14px;
  color: #6b757c;
  margin-bottom: 0;
}
/* line 51, ../scss/app.scss */
#about-me .avatar {
  margin-right: 35px;
}

/* line 56, ../scss/app.scss */
#bright-ec {
  background: url("../img/bg-brightEC.jpg") #232c2c center no-repeat;
  padding: 70px 0;
}
/* line 60, ../scss/app.scss */
#bright-ec h1 {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 35px;
}
/* line 69, ../scss/app.scss */
#bright-ec a.btn-brightEC {
  border: 2px solid #656b6b;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
  transition: border-color 0.5s ease;
}
/* line 76, ../scss/app.scss */
#bright-ec a.btn-brightEC:hover {
  border-color: white;
}

/* line 82, ../scss/app.scss */
#acquisition {
  background-color: #f4ef9d;
  padding: 15px 0;
}
/* line 86, ../scss/app.scss */
#acquisition .icon-congrats {
  float: left;
  margin-right: 15px;
}
/* line 90, ../scss/app.scss */
#acquisition p {
  font-size: 14px;
  color: #3d3020;
  margin-bottom: 0;
}

/* line 97, ../scss/app.scss */
#bright-js {
  background: #FFF;
  padding-top: 70px;
  border-bottom: 1px solid #e4e4e4;
}
/* line 102, ../scss/app.scss */
#bright-js h1 {
  color: #4a5f69;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 35px;
}
/* line 111, ../scss/app.scss */
#bright-js a.btn-brightJS {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 116, ../scss/app.scss */
#bright-js img.img-web {
  margin-top: 60px;
  max-width: 1020px;
}

/* line 124, ../scss/app.scss */
#finenyc .video-texture {
  background: url(../img/grid.png);
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 134, ../scss/app.scss */
#finenyc .header-unit {
  height: 400px;
  position: relative;
}
/* line 138, ../scss/app.scss */
#finenyc .header-unit .content {
  margin-top: 70px;
  z-index: 11;
}
/* line 142, ../scss/app.scss */
#finenyc .header-unit .content h1 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 35px;
}
/* line 151, ../scss/app.scss */
#finenyc .header-unit .content a.btn-brightEC {
  border: 2px solid #656b6b;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
  transition: border-color 0.5s ease;
}
/* line 158, ../scss/app.scss */
#finenyc .header-unit .content a.btn-brightEC:hover {
  border-color: white;
}
/* line 164, ../scss/app.scss */
#finenyc #video-container {
  position: absolute;
}
/* line 167, ../scss/app.scss */
#finenyc #video-container {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 174, ../scss/app.scss */
#finenyc video {
  position: absolute;
  top: -30px;
  z-index: 0;
}
/* line 179, ../scss/app.scss */
#finenyc video.fillWidth {
  width: 100%;
}
