@charset "UTF-8";
/* line 318, ../scss/framework/components/_global.scss */
meta.foundation-version {
  font-family: "/5.3.0/";
}

/* line 322, ../scss/framework/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 327, ../scss/framework/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 332, ../scss/framework/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 337, ../scss/framework/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 342, ../scss/framework/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 347, ../scss/framework/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 354, ../scss/framework/components/_global.scss */
html, body {
  height: 100%;
}

/* line 359, ../scss/framework/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 364, ../scss/framework/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 367, ../scss/framework/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 380, ../scss/framework/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 383, ../scss/framework/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 385, ../scss/framework/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 391, ../scss/framework/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 396, ../scss/framework/components/_global.scss */
.left {
  float: left !important;
}

/* line 397, ../scss/framework/components/_global.scss */
.right {
  float: right !important;
}

/* line 168, ../scss/framework/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 169, ../scss/framework/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 399, ../scss/framework/components/_global.scss */
.hide {
  display: none;
}

/* line 405, ../scss/framework/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 408, ../scss/framework/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 418, ../scss/framework/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 421, ../scss/framework/components/_global.scss */
select {
  width: 100%;
}

/* line 5, ../scss/app.scss */
body {
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* line 11, ../scss/app.scss */
#search .logo {
  padding: 60px 0 30px 0;
}
/* line 14, ../scss/app.scss */
#search h1 {
  font-weight: 300;
}
/* line 18, ../scss/app.scss */
#search .block-search {
  margin-top: 40px;
}
/* line 21, ../scss/app.scss */
#search .block-search label {
  font-size: 18px;
  font-weight: 600;
  color: #363e45;
}
/* line 27, ../scss/app.scss */
#search .block-search input {
  font-weight: 300;
  height: 55px;
  padding-left: 15px;
  font-size: 18px;
}
/* line 34, ../scss/app.scss */
#search .block-search a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 44, ../scss/app.scss */
.job-stats {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 48, ../scss/app.scss */
.job-stats p {
  font-size: 18px;
  margin-bottom: 6px;
  color: #363e45;
}
/* line 54, ../scss/app.scss */
.job-stats nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 60, ../scss/app.scss */
.job-stats nav ul {
  margin: 0;
}
/* line 63, ../scss/app.scss */
.job-stats nav ul li {
  display: inline;
}
/* line 66, ../scss/app.scss */
.job-stats nav ul li a {
  font-size: 14px;
  color: #007ee5;
  display: inline-block;
}
/* line 71, ../scss/app.scss */
.job-stats nav ul li a:hover {
  text-decoration: underline;
}
/* line 77, ../scss/app.scss */
.job-stats nav ul li + li:before {
  content: "•";
  font-size: 12px;
  padding: 0 10px;
  color: #c2c5c7;
}

/* line 87, ../scss/app.scss */
.inner-wrap {
  min-height: 100%;
  position: relative;
}

/* line 92, ../scss/app.scss */
#content {
  padding-bottom: 50px;
}

/* line 96, ../scss/app.scss */
footer {
  border-top: 1px solid #e8e8e8;
  color: #797f84;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f9f9f9;
}
/* line 107, ../scss/app.scss */
footer nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 113, ../scss/app.scss */
footer nav ul {
  margin: 0;
}
/* line 116, ../scss/app.scss */
footer nav ul li {
  position: relative;
  line-height: 50px;
  display: inline;
}
/* line 122, ../scss/app.scss */
footer nav ul li a {
  font-size: 14px;
  color: #797f84;
}
/* line 128, ../scss/app.scss */
footer nav ul li + li:before {
  content: "•";
  font-size: 12px;
  padding: 0 10px;
}
/* line 136, ../scss/app.scss */
footer p {
  font-size: 14px;
  margin: 0;
  line-height: 50px;
  float: left;
}

@media only screen and (max-width: 40em) {
  /* line 148, ../scss/app.scss */
  #content {
    padding-bottom: 200px;
  }

  /* line 153, ../scss/app.scss */
  #search .logo {
    max-width: 50%;
    padding: 30px 0 15px 0;
  }
  /* line 158, ../scss/app.scss */
  #search h1 {
    font-size: 24px;
  }
  /* line 162, ../scss/app.scss */
  #search .block-search {
    margin-top: 20px;
  }
  /* line 166, ../scss/app.scss */
  #search .block-search .large-2 label {
    display: none;
  }

  /* line 173, ../scss/app.scss */
  footer {
    padding: 10px 15px;
    height: 80px;
    text-align: center;
  }
  /* line 178, ../scss/app.scss */
  footer p {
    float: none !important;
    display: block;
    line-height: 30px;
  }

  /* line 186, ../scss/app.scss */
  nav {
    float: none !important;
    text-align: center;
  }
  /* line 190, ../scss/app.scss */
  nav ul {
    margin: 0;
  }
  /* line 193, ../scss/app.scss */
  nav ul li {
    display: inline;
    line-height: 30px !important;
  }
}
