/* line 318, ../scss/framework/components/_global.scss */
meta.foundation-version {
  font-family: "/5.3.0/";
}

/* line 322, ../scss/framework/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 327, ../scss/framework/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 332, ../scss/framework/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 337, ../scss/framework/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 342, ../scss/framework/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 347, ../scss/framework/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 354, ../scss/framework/components/_global.scss */
html, body {
  height: 100%;
}

/* line 359, ../scss/framework/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 364, ../scss/framework/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 367, ../scss/framework/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 380, ../scss/framework/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 383, ../scss/framework/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 385, ../scss/framework/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 391, ../scss/framework/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 396, ../scss/framework/components/_global.scss */
.left {
  float: left !important;
}

/* line 397, ../scss/framework/components/_global.scss */
.right {
  float: right !important;
}

/* line 168, ../scss/framework/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 169, ../scss/framework/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 399, ../scss/framework/components/_global.scss */
.hide {
  display: none;
}

/* line 405, ../scss/framework/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 408, ../scss/framework/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 418, ../scss/framework/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 421, ../scss/framework/components/_global.scss */
select {
  width: 100%;
}

/* line 6, ../scss/description.scss */
header {
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
  height: 86px;
}
/* line 11, ../scss/description.scss */
header .header-logo {
  line-height: 86px;
}
/* line 17, ../scss/description.scss */
header .input p {
  font-size: 12px;
  color: #797f84;
  margin: 10px 0 3px 0;
}
/* line 24, ../scss/description.scss */
header .input span.prefix {
  font-weight: 600;
  color: #ff6908;
  background: #fcfcfc;
}
/* line 30, ../scss/description.scss */
header .input input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 33, ../scss/description.scss */
header .input input[type="text"]:hover, header .input input[type="text"]:focus {
  background: #FFF;
}
/* line 39, ../scss/description.scss */
header .button {
  font-size: 14px !important;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

/* line 46, ../scss/description.scss */
#content {
  padding-top: 45px;
}
/* line 53, ../scss/description.scss */
#content #job-description h1.job-title {
  color: #007ee5;
}
/* line 57, ../scss/description.scss */
#content #job-description .job-details {
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
}
/* line 62, ../scss/description.scss */
#content #job-description .job-details img {
  float: left;
  margin-right: 8px;
}
/* line 67, ../scss/description.scss */
#content #job-description .job-details span {
  font-size: 14px;
}
/* line 70, ../scss/description.scss */
#content #job-description .job-details span.icon-title {
  color: #797f84;
  display: block;
  padding-top: 2px;
}
/* line 76, ../scss/description.scss */
#content #job-description .job-details span.icon-detail {
  font-weight: bold;
}
/* line 81, ../scss/description.scss */
#content #job-description .job-details .first {
  padding-left: 0;
}
/* line 87, ../scss/description.scss */
#content #job-description .description p {
  margin-bottom: 10px;
}
/* line 91, ../scss/description.scss */
#content #job-description .description ul {
  list-style-type: square;
}
/* line 96, ../scss/description.scss */
#content #job-description .apply-bottom {
  background: #FFF;
  border: 1px solid #e1e1e1;
  padding: 15px 20px;
  margin: 10px 0 50px 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
/* line 103, ../scss/description.scss */
#content #job-description .apply-bottom h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 7px 0;
}
/* line 109, ../scss/description.scss */
#content #job-description .apply-bottom span {
  display: block;
  margin-bottom: 10px;
  color: #797f84;
}
/* line 115, ../scss/description.scss */
#content #job-description .apply-bottom a.button {
  margin: 0;
}

@media only screen and (max-width: 40em) {
  /* line 134, ../scss/description.scss */
  #content {
    padding-bottom: 200px;
  }

  /* line 138, ../scss/description.scss */
  footer {
    padding: 10px 15px;
    height: 80px;
    text-align: center;
  }
  /* line 143, ../scss/description.scss */
  footer p {
    float: none !important;
    display: block;
    line-height: 30px;
  }

  /* line 151, ../scss/description.scss */
  nav {
    float: none !important;
    text-align: center;
  }
  /* line 155, ../scss/description.scss */
  nav ul {
    margin: 0;
  }
  /* line 159, ../scss/description.scss */
  nav ul li {
    display: inline;
    line-height: 30px !important;
  }
}
