@charset "UTF-8";
/* line 318, ../scss/framework/components/_global.scss */
meta.foundation-version {
  font-family: "/5.3.0/";
}

/* line 322, ../scss/framework/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 327, ../scss/framework/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 332, ../scss/framework/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 337, ../scss/framework/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 342, ../scss/framework/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 347, ../scss/framework/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 354, ../scss/framework/components/_global.scss */
html, body {
  height: 100%;
}

/* line 359, ../scss/framework/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 364, ../scss/framework/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 367, ../scss/framework/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 380, ../scss/framework/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 383, ../scss/framework/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 385, ../scss/framework/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 391, ../scss/framework/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 396, ../scss/framework/components/_global.scss */
.left {
  float: left !important;
}

/* line 397, ../scss/framework/components/_global.scss */
.right {
  float: right !important;
}

/* line 168, ../scss/framework/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 169, ../scss/framework/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 399, ../scss/framework/components/_global.scss */
.hide {
  display: none;
}

/* line 405, ../scss/framework/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 408, ../scss/framework/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 418, ../scss/framework/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 421, ../scss/framework/components/_global.scss */
select {
  width: 100%;
}

/* line 6, ../scss/search.scss */
header {
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
  height: 86px;
}
/* line 11, ../scss/search.scss */
header .header-logo {
  line-height: 86px;
}
/* line 17, ../scss/search.scss */
header .input p {
  font-size: 12px;
  color: #797f84;
  margin: 10px 0 3px 0;
}
/* line 24, ../scss/search.scss */
header .input span.prefix {
  font-weight: 600;
  color: #ff6908;
  background: #fcfcfc;
}
/* line 30, ../scss/search.scss */
header .input input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 33, ../scss/search.scss */
header .input input[type="text"]:hover, header .input input[type="text"]:focus {
  background: #FFF;
}
/* line 39, ../scss/search.scss */
header .button {
  font-size: 14px !important;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

/* line 46, ../scss/search.scss */
#content {
  padding-top: 45px;
}
/* line 53, ../scss/search.scss */
#content #result-filter .filter-block {
  margin-bottom: 20px;
}
/* line 56, ../scss/search.scss */
#content #result-filter .filter-block span.filter-title {
  font-size: 12px;
  font-weight: bold;
  color: #a6a6a6;
  text-transform: uppercase;
}
/* line 63, ../scss/search.scss */
#content #result-filter .filter-block ul {
  list-style: none;
  margin: 8px 0 0 0;
}
/* line 69, ../scss/search.scss */
#content #result-filter .filter-block ul li input[type="checkbox"] {
  margin: 0;
}
/* line 74, ../scss/search.scss */
#content #result-filter .filter-block ul li label {
  color: #797f84;
  display: inline;
  margin-left: 0;
}
/* line 79, ../scss/search.scss */
#content #result-filter .filter-block ul li label:after {
  content: "\a";
  white-space: pre;
}
/* line 87, ../scss/search.scss */
#content #result-filter .filter-block ul li.checked label {
  color: #363e45;
  font-weight: 600;
}
/* line 94, ../scss/search.scss */
#content #result-filter .filter-block ul li.more img {
  padding: 0 9px 0 0;
}
/* line 99, ../scss/search.scss */
#content #result-filter .filter-block ul li.more a {
  color: #a6a6a6;
  font-size: 0.875rem;
}
/* line 103, ../scss/search.scss */
#content #result-filter .filter-block ul li.more a:hover {
  text-decoration: underline;
}
/* line 117, ../scss/search.scss */
#content .result-list .result-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}
/* line 121, ../scss/search.scss */
#content .result-list .result-header h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
/* line 128, ../scss/search.scss */
#content .result-list .result {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
}
/* line 132, ../scss/search.scss */
#content .result-list .result h2.jobtitle {
  color: #007ee5;
  font-size: 20px;
  margin: 0 0 5px 0;
  font-weight: bold;
}
/* line 138, ../scss/search.scss */
#content .result-list .result h2.jobtitle a:hover {
  text-decoration: underline;
}
/* line 143, ../scss/search.scss */
#content .result-list .result p.description {
  color: #797f84;
  font-size: 13px;
  margin: 10px 0 0 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 155, ../scss/search.scss */
#content .result-list .result span {
  font-size: 14px;
}
/* line 158, ../scss/search.scss */
#content .result-list .result span.company {
  font-weight: bold;
}
/* line 162, ../scss/search.scss */
#content .result-list .result span.date {
  color: #a6a6a6;
}
/* line 167, ../scss/search.scss */
#content .result-list .result span + span:before {
  content: "•";
  font-size: 12px;
  padding: 0 5px;
  color: #a6a6a6;
}
/* line 175, ../scss/search.scss */
#content .result-list .result-ads {
  padding: 20px;
  margin: 20px 0;
  background: #ff6908;
}
/* line 180, ../scss/search.scss */
#content .result-list .result-ads img {
  display: block;
  float: left;
  margin-right: 15px;
}
/* line 186, ../scss/search.scss */
#content .result-list .result-ads span {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  display: block;
}
/* line 192, ../scss/search.scss */
#content .result-list .result-ads span.alert {
  font-size: 12px;
  color: #763307;
  font-weight: normal;
}
/* line 199, ../scss/search.scss */
#content .result-list .result-ads .large-9 {
  padding-left: 0;
}
/* line 203, ../scss/search.scss */
#content .result-list .result-ads .large-8 {
  padding: 10px 0;
  display: block;
  clear: both;
}
/* line 208, ../scss/search.scss */
#content .result-list .result-ads .large-8 input[type="text"] {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 214, ../scss/search.scss */
#content .result-list .result-ads .large-8 .button {
  margin: 0;
  background: #363e45;
  font-weight: bold;
}
/* line 223, ../scss/search.scss */
#content .result-list .pages {
  border-top: 1px solid #e7e7e7;
  padding-right: 0;
}
/* line 227, ../scss/search.scss */
#content .result-list .pages .pagination {
  padding: 15px 0;
}

@media only screen and (max-width: 40em) {
  /* line 239, ../scss/search.scss */
  #content {
    padding-bottom: 200px;
  }

  /* line 243, ../scss/search.scss */
  footer {
    padding: 10px 15px;
    height: 80px;
    text-align: center;
  }
  /* line 248, ../scss/search.scss */
  footer p {
    float: none !important;
    display: block;
    line-height: 30px;
  }

  /* line 256, ../scss/search.scss */
  nav {
    float: none !important;
    text-align: center;
  }
  /* line 260, ../scss/search.scss */
  nav ul {
    margin: 0;
  }
  /* line 264, ../scss/search.scss */
  nav ul li {
    display: inline;
    line-height: 30px !important;
  }
}
