@import "settings";
@import "carousel";
@import "foundation";
@import "compass/css3";
@import "progress";


html, body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    //@include transition();
}



h2,h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

a {
	color: $black;

	&:hover {
		color: $black;
		text-decoration: underline;
	}
}


.grow { transition: all .2s ease-in-out; cursor: pointer;}
.grow:hover { transform: scale(1.1); }

.color-blue {
	color: $blue;
}

.color-green {
	color: $green;
}

.color-purple {
	color: $purple;
}

.ads-block {
	background: url('../img/ads-pattern.jpg') repeat;

	&.featured-ads {
		margin: 20px 0 !important;
	}

	&.last-row-ads {
		margin-bottom: 20px !important;
	}

	&.ads-dark {
		background: url('../img/ads-pattern-dark.jpg') repeat;
	}

	.ads-content {
		@include inline-block;
		//text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;

		&.ads-square {
			width: 307px;
			margin-bottom: 10px;
		}

	}
}

.top-nav-ads {
	margin: 0 !important;
}

.block-content {
	background: #FFF;
	padding: 20px 40px;
	margin-bottom: 20px;
	border: 1px solid $grey;
	@include box-shadow(rgba(0,0,0,.05) 4px 4px 0);
}

.button {
	font-family: $font-family-oswald;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	text-decoration: none !important;

	&.button-icon {
    
	    i {
	      display: inline-block;
	      vertical-align: middle;
	    }

	    span {
	    	display: inline-block;
	    	vertical-align: middle;
	    	//margin-right: 2px;
	    }


	&.large {


		&.expand {
			padding-top:12px;
			padding-bottom: 12px;
			font-size: rem-calc(22);
		}
	}
  }

  &:hover {
  	text-decoration: none !important;
  }
}


i {
  &.icon-arrow {
    background: url('../img/arrow-right.svg');
    width: 22px;
    height: 22px;
  }

  &.btn-arrow-left {
    background: url('../img/arrow-left.svg');
    width: 22px;
    height: 22px;
  }
}

// NAVIGATION BAR
// 

.contain-to-grid {

	&.top-bar-blue{
		background: $blue;

		.top-bar {
			background: $blue;
			
			.top-bar-section {
				ul {
					background: $blue;
					li {
						background: $blue;
						a {
							background: $blue;

							&:hover {
								background: #37829A;
							}
						}

						&.active {
							background: #37829A;

							a {
								background: #37829A;
							}
						}

						&.with-icon {

							a {
								
								&:hover {
									background: inherit;
								}
							}
						}
					}
				}
			}
		}
	}

	&.top-bar-green{
		background: $green;

		.top-bar {
			background: $green;
			
			.top-bar-section {
				ul {
					background: $green;
					li {
						background: $green;
						a {
							background: $green;

							&:hover {
								background: #266856;
							}
						}

						&.active {
							background: #266856;

							a {
								background: #266856;
							}
						}

						&.with-icon {

							a {
								
								&:hover {
									background: inherit;
								}
							}
						}
					}
				}
			}
		}
	}

	&.top-bar-purple{
		background: $purple;

		.top-bar {
			background: $purple;
			
			.top-bar-section {
				ul {
					background: $purple;
					li {
						background: $purple;
						a {
							background: $purple;

							&:hover {
								background: #764B7B;
							}
						}

						&.active {
							background: #764B7B;

							a {
								background: #764B7B;
							}
						}

						&.with-icon {

							a {
								
								&:hover {
									background: inherit;
								}
							}
						}
					}
				}
			}
		}
	}
}

.top-bar {
	position: relative;
	background: $topbar-bg-color;

	.name {
		padding-left: 10px;
		padding-right: 10px;
	}

	.search-field {
		width: 0;
		margin-top: 15px !important;
		
		input{
		  top: 0;
		  height: 30px;
		  padding: 0;
		  border: none;
		}

		.button {
			background: $blue;
			height: 30px;
			top: 0;
		}

		&.open {
			width: 300px;

			input {
				padding-left: 8px;
			}
		}
	}


	.top-bar-section{
		background: $topbar-bg-color;

		ul {

			li {
				background: $topbar-bg-color;

				a {
					-webkit-font-smoothing: antialiased;
					font-weight: bold;
					background: $topbar-bg-color;

					&:hover {
						text-decoration: none;
					}
				}

				&.with-icon {

					a {
						background: $topbar-bg-color;
						
						&:hover {
							background: inherit;
						}

						img:hover {
							opacity: .75;
						}
					}

					&.social-icon {

						a {
							padding-left: 8px;
							padding-right: 0px;
						}
					}

					&.social-icon-first {

						a {
							padding-left: 1.25rem;
						}
					}
				}
			}
			

			.divider {
				border-right-color: rgba(0,0,0,.2) !important;
				margin-top: 20px;
				height: 20px !important;
			}

		}
	}

	

	.header-logo {
		position: relative;
		top: -18px;
	}

	.header-logo-mobile {
		padding-top: 15px;
		padding-left: 10px;
	}
}


// SECTIONS
// 

.search-results {
	background: #f8f9fa;
	padding: 20px 10px;
	margin-bottom: 10px;

	h1 {
		font-size: rem-calc(32);
		font-weight: bold;
	}

	input,.button {
		margin-bottom: 5px;
	}
}

section.text-only {
	padding: 50px 0;
}

.dark-bg {
	background: #F1F2F5;
}


section.listing {
	padding: 20px 0;

	.row {

		&.offer-listing {
			margin-bottom: 30px;
		}
	}

	&.dark-bg {
		background-color: #f8f9fa;
	}

	&.first-title {
		padding-top: 80px;
	}

	.large {

		margin-top: 0;
		margin-bottom: 0;

		&.last {
			margin-bottom: 20px;
		}
	}
}

.block-tags {

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 10px;
	}

	ul {
		
		list-style: none;

		&.blue-tags {

			li {
				display: inline-block;
				background: #FFFFFF;
				padding: 8px 15px;
				margin: 10px 10px 0 0;
				cursor: pointer;
				font-family: $font-family-oswald;
				-webkit-font-smoothing: antialiased;
				color: $blue;
				border: 1px solid #e1e1e1;
				font-size: rem-calc(16);

				&:hover {
					border-color: $blue;
				}

				&.active {
					background: $blue;
					border-color: $blue;
					color: $white;

					&:hover {
						background: #37829A;
						border-color: #37829A;
					}
				}
			}
		}

		&.green-tags {

			li {
				display: inline-block;
				background: #FFFFFF;
				padding: 8px 15px;
				margin: 10px 10px 0 0;
				cursor: pointer;
				font-family: $font-family-oswald;
				-webkit-font-smoothing: antialiased;
				color: $green;
				border: 1px solid #e1e1e1;
				font-size: rem-calc(16);

				&:hover {
					border-color: $green;
				}

				&.active {
					background: $green;
					border-color: $green;
					color: $white;

					&:hover {
						background: #266856;
						border-color: #266856;
					}
				}
			}
		}

		&.purple-tags {

			li {
				display: inline-block;
				background: #FFFFFF;
				padding: 8px 15px;
				margin: 10px 10px 0 0;
				cursor: pointer;
				font-family: $font-family-oswald;
				-webkit-font-smoothing: antialiased;
				color: $purple;
				border: 1px solid #e1e1e1;
				font-size: rem-calc(16);

				&:hover {
					border-color: $purple;
				}

				&.active {
					background: $purple;
					border-color: $purple;
					color: $white;

					&:hover {
						background: #764B7B;
						border-color: #764B7B;
					}
				}
			}
		}

	}
}

// CONTACT
// 

.block-contact {
	margin-top: 50px;
	margin-bottom: 50px;

	.required {
		display: block;
		float: left;
		font-size: rem-calc(12);
		color: $grey;
		margin-bottom: 15px;
	}

	textarea {
		height: 150px;
	}

	input {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}



// PRODUCT DISPLAY

.product-block {
	margin-bottom: 20px;
	.img-container {
		height: 100%;
		max-width: 100%;
		overflow: hidden;

		img {
			width: 100%;
        	height: 100%;
		}
		
	}

	&.with-ads {
		.ads-block {
			margin: 0 !important;
			height: 282px;

			.ads-content {
				width: 360px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.product-title {
			height: 25px;
			margin-bottom: 0;
		}

		.redeem-number {
			padding-top: 15px;
			padding-left: 0;
			display: block;
		}
	}

	.product-title {
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
		max-width: 370px;
		height: 18px*1.4*2; /* Fallback for non-webkit */
		margin: 0 auto;
		font-size: rem-calc(18);
		line-height: 24px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
		margin-top:10px;
		margin-bottom: 10px;
	}

	.redeem-number {
		font-size: rem-calc(14);
		color: $grey;
		padding-left: 10px;
	}
}

.heading-block {
	background: #FFF;
	padding: 15px 20px;
	margin-top: 10px;
	border: 1px solid $grey;
	font-weight: 600;
	@include box-shadow(rgba(0,0,0,.05) 4px 4px 0);

	&.site-title {
		margin-bottom: -50px;
	}
}


// PAGE PRODUCTS
// 

section.product {
	padding-top: 30px;
	padding-bottom: 70px;

	.product-ads {
		//padding-left: 0;
		margin-top:15px;
	}

	.product-column {
		padding-right: 0;
	}


	.block-title {
		padding: 10px 20px;
		background: $white;
		border: 1px solid #e1e1e1;
		height: 300px;

		h1 {
			font-size: rem-calc(38);
			line-height: 50px;
			font-weight: bold;
		}

		.details {
			//margin-top: 10px;
			

			.item {
				@include inline-block;
				padding: 5px 0;
				margin-right: 20px;
				//display: block;

				img {
					float: left;
					margin-right: 10px;

				}

				span {
					color: $grey;
				}
			}
		}
	}

	.block-img {
		background: $topbar-bg-color;
		height: 300px;

		.img-container {
			height: 280px;
			//width: 360px;
			width: 360px;
			overflow: hidden;
			margin: 10px auto;

			img {
	        	height: 280px;
			}
			
		}
	}

	.block-description {
		padding: 10px 20px;
		background: $white;
		border: 1px solid #e1e1e1;
		height: 280px;

		.title {
			font-weight: bold;
			font-size: rem-calc(16);
			margin-bottom: 5px;
		}

		p {
			//margin-bottom: 10px;
			line-height: 22px;
		}
	}

	&.bg-blue {
		background: #EEF3F5;
	}

	&.bg-green {
		background: #EDF3F2;
	}

	&.bg-purple {
		background: #F5F1F5;
	}
}

h1.product-title {
	margin-top: -45px;
}

// FOOTER
// 

#footer {
	background: $topbar-bg-color;
	padding: 30px 0;

	.social-icons {
		margin: 10px 0;

		img {
			margin-right: 5px;
		}
	}

	.copyright {
		font-size: rem-calc(12);
		color: #878C91;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			font-size: rem-calc(13);
			color: #FFF;

			&.list-title {
				font-weight: bold;
			}

			a {
				color: #AFB2B6;
			}
		}
	}
}

.breadcrumbs {
	padding: 0;
	border: none;
	background: inherit;
	margin-bottom: 15px;

	&.blue {
		a { color: $blue !important;}
		.current {a{ color: $black !important;}}
	}

	&.green {
		a { color: $green !important;}
		.current {a{ color: $black !important;}}
	}

	&.purple {
		a { color: $purple !important;}
		.current {a{ color: $black !important;}}
	}
}

// ABOUT PAGE

#video {

	.video-texture {
		background: rgba(132,84,137,.8);
		width: 100%;
		height: 350px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.video-unit {
	  height: 350px;
	  position: relative;

	  .content {
	  	margin-top: 70px;
	  	z-index: 11;

	  	h1 {
	  		color: #fff;
	  		@include text-shadow(rgba(0,0,0, 0.8) 0 1px 1px);
	  		font-size: 40px;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 10px;
	  	}

	  	p {
	  		color: #fff;
	  		@include text-shadow(rgba(0,0,0, 0.8) 0 1px 1px);
	  		font-size: 18px;
	  	}
	  }
	}
	#video-container {
		position: absolute;
	}
	#video-container {
		top:0%;
		left:0%;
		height:100%;
		width:100%;
		overflow: hidden;
	}
	video {
		//-webkit-filter:blur(2px);
		//-webkit-filter:sepia(0.2);
		-webkit-filter:saturate(0);
		position:absolute;
		//top: -300px;
		z-index:0;
	}
	video.fillWidth {
		width: 100%;
	}
}

#about {
	margin: 30px 0;

	h2 {
		font-size: 40px;
		margin-bottom: 40px;
	}


	hr {
		width: 20px;
		border-width: 2px 0 0;
		border-color: $blue;
		margin: 10px 0;
	}

	h3 {
		font-size: rem-calc(16);
		font-weight: bold;
		text-transform: uppercase;
		font-family: $body-font-family;
	}

	p {
		font-size: rem-calc(16);
		color: $grey;
	}

}

.parallax-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.photo {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;

	&.what-we-do {
		background-image: url('../img/dummy-sample/sample-bg.jpg');
		width: 100%;
	}
}

#footer-newsletter {
	background: #2D3039;
	padding: 20px 0;

	img {
		float: left;
		margin-right: 15px;
	}

	p {
		color: $white;
		font-size: rem-calc(15);
		margin-bottom: 0;
		font-weight: bold;
	}

	span {
		color: $white;
		font-size: rem-calc(14);
	}

	.form {
		margin-top: 10px;

		input,.button {
			margin-bottom: 0;
		}
	}
}

.redirect {
	margin-top: 50px;

	h1 {
		font-weight: bold;
		font-size: rem-calc(32);
		margin-top: 30px;
	}

	.progress-container {
	}

	img {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	p {
		font-size: rem-calc(20px);
	}

	span {
		color: $grey;
		font-size: rem-calc(13);
		margin-top: 10px;
		display: block;
	}
}

@media only screen and (max-width: 40em) { 

	// .responsive-square { width: 307px; height: 257px; }
	.responsive-banner { width: 320px; height: 55px; }
	.product-banner { width: 320px; height: 55px; }

	.ads-column {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.ads-block {
		margin: 10px 0 !important;

		&.ads-banner {
			//height: 60px;
			margin: 0 !important;
			padding: 0;

			.ads-content {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		}

		.ads-content {
			&.ads-square-column {
				//padding-left: 0.9375rem;
				padding-top: 12px;
			}
		}
	}

	.top-bar {

		li.with-icon {
			margin-right: 20px;
			float: left;
		}

		.search-field {
			width: 70%;
			float: left;
			margin-top: 12px !important;

			input {
				padding-left: 8px;
			}
		}
	}

	h1 {
		font-size: rem-calc(26);

		&.category-title {
			font-size: rem-calc(32);
			margin-bottom: 10px !important;
		}
	}

	h2 {
		font-size: rem-calc(32);
	}

	.button {
		width:100%;
	}

	.owl-carousel {
		margin-bottom: 0 !important;

		.featured-content {
			position: relative !important;
			padding: 15px 10px 10px 10px !important;
			left: 0 !important;
			bottom: 0 !important;
			border: none !important;
			@include box-shadow(none !important);

			.product-title {
				max-width: 100% !important;
				height: auto !important;
				-webkit-line-clamp:3 !important;
			}

			.redeem-number {
				padding-left: 0 !important;
			}

			.button {
				margin-bottom: 10px;
			}
		}

		.owl-icon {
			top: 30% !important;
		}

		.owl-prev {
	      display: block !important;
	    }
	    .owl-next {
	      display: block !important;
	    }

	}

	.owl-carousel-category {
		.owl-prev {
	      display: block !important;
	    }
	    .owl-next {
	      display: block !important;
	    }
	    .owl-icon {
			top: 30% !important;
		}

		&:hover {
			.owl-prev {
		      display: block !important;
		    }
		    .owl-next {
		      display: block !important;
		    }
		}
	}

	section.listing {
		padding: 10px 0;

		.product-block {
			margin-bottom: 20px;
			border-bottom: 1px dotted #e1e1e1;
			padding-bottom: 10px;

			.img-container {
					margin: 0 auto;
				img {
					max-width: 100%;
				}
			}

			.button {
				margin-bottom: 5px;
			}

			.product-title {
				max-width: 100%;
				height: auto;
				-webkit-line-clamp: 3;
			}

			.redeem-number {
				display: none;
			}
		}

		.row {

			&.offer-listing {
				margin-bottom: 0px;

				.with-ads {
					.redeem-number,.product-title {
						padding-left: 0.9375rem;
					}
				}
			}
		}

	}
	h1.product-title {
		margin-top: 0px;
	}

	.breadcrumbs {
		margin-bottom: 10px;
	}

	section.product {
		padding-bottom: 10px;
		padding-top: 10px;

		.block-title {
			padding: 0;
			border: none;
			height: 100%;

			h1 {
				font-size: rem-calc(22);
				line-height: 30px;
				font-weight: bold;
				margin-bottom: 0;
			}

			.details {
				margin-top: 0;

				.item {
					padding: 0;
					margin-right: 10px;

					span {
						font-size: rem-calc(13);
					}
				}
			}
		}

		.block-img {
			//background: $white;
			//height: 280px;

			.img-container {
				width: 100%;

			}
		}

		.block-description {
			padding: 0 0.9375rem;
			background: $white;
			border: none;
			height: 100%;

		}

		&.bg-blue {
			background: #FFF;
		}

		&.bg-green {
			background: #FFF;
		}

		&.bg-purple {
			background: #FFF;
		}
	}

	#footer {
		text-align: center;

		ul {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.button {
		//width:100%;
	}

	h1.site-title {
		font-size: rem-calc(32);
	}

	.owl-carousel {
		margin-bottom: 0 !important;

		.featured-content {
			position: relative !important;
			margin-top: 10px;
			margin-left: 10px;
			padding: 0 !important;
			left: 0 !important;
			bottom: 0 !important;
			border: none !important;
			@include box-shadow(none !important);

			.product-title {
				max-width: 100% !important;
			}

			.redeem-number {
				padding-left: 15px;
			}

			.button {
				margin-bottom: 10px;
			}
		}

		.owl-icon {
			top: 30% !important;
		}

		.owl-prev {
	      display: block !important;
	    }
	    .owl-next {
	      display: block !important;
	    }
	}

	section.listing {
		padding: 10px 0;
		h2 {
			font-size: rem-calc(28);
		}

		.product-block {
			margin-bottom: 20px;

			.img-container {
				margin: 0 auto !important;
			}

			.product-title {
				max-width: 100%;
				height: auto;
				overflow: none;
			}

			.button {
				margin-bottom: 5px;
			}

			.redeem-number {
				padding-left: 0;
				line-height: 16px;
			}

			&.with-ads {
				.ads-block {
					height: 370px;
				}
			}
		}

		.row {

			&.offer-listing {
				margin-bottom: 0px;

				.with-ads {
					.redeem-number {
						padding-top: 20px;
						height: 112px;
						display:block;
					}
				}
			}
		}

	}
	h1.product-title {
		margin-top: 0px;
	}

	.breadcrumbs {
		margin-bottom: 10px;
	}

	section.product {
		padding-bottom: 10px;
		padding-top: 10px;

		.block-title {
			height: auto;
			padding: 0;
			border: none;

			.details {
				margin-top: 0;

				.item {
					padding-bottom: 10px;
					padding-top: 0;
				}
			}
		}

		.product-ads {
			margin-top: 0px;

			.ads-block {
				margin-bottom: 0 !important;
			}
		}

		.block-img {
			//background: $white;
			//height: 280px;

			.img-container {
				width: 100%;

			}
		}

		.block-description {
			margin-top: 10px;
			padding: 0 0.9375rem;
			background: $white;
			border: none;
			height: 100%;

		}

		&.bg-blue {
			background: #FFF;
		}

		&.bg-green {
			background: #FFF;
		}

		&.bg-purple {
			background: #FFF;
		}
	}

	#footer {
		text-align: center;

		ul {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}

}

// Media query for the search field fix on Tablet
@media only screen and (min-width: 640px) and (max-width: 870px) {

	.top-bar {

		li.with-icon {
			margin-right: 20px;
			float: left;
		}

		.search-field {
			width: 70%;
			float: left;
			margin-top: 12px !important;

			input {
				padding-left: 8px;
			}
		}
	}

	.desktop-search {
		display: none !important;
	}

	.mobile-search {
		display: block !important;
	}
}

.product-banner {
	display:inline-block; 
	width: 320px; 
	height: 55px;
}

@media(min-width: 500px) { 
	.responsive-banner { width: 468px; height: 60px; } 
	.product-banner { display: none; }
}
@media(min-width: 800px) { 
	.responsive-banner { width: 728px; height: 90px; } 
	.product-banner { display: none; }
}



// .responsive_square { width: 307px; height: 257px; }
// @media(min-width: 500px) { .responsive_banner { width: 370px; height: 280px; } }
// @media(min-width: 800px) { .responsive_banner { width: 370px; height: 280px; } }

