@import "compass/css3";
@import "framework/mixins";
@import "framework/components/global";


header {
	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
	height: 86px;

	.header-logo {
		line-height: 86px;
	}

	.input {

		p {
			font-size: 12px;
			color: $secondary-color;
			margin: 10px 0 3px 0;

		}

		span.prefix {
			font-weight: 600;
			color: $orange-color;
			background: #fcfcfc;
		}

		input[type="text"] {
			@include box-shadow(none);

			&:hover, &:focus {
				background: #FFF;
			}
		}
	}

	.button {
		font-size: 14px !important;
		text-transform: uppercase;
		margin: 30px 0 0 0;
	}
}

#content {
	padding-top: 45px;

	// DESCRIPTION
 
	#job-description {

		h1.job-title {
			color: $primary-color;
		}

		.job-details {
			padding: 20px 0;
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 15px;

			img {
				float: left;
				margin-right: 8px;
			}

			span {
				font-size: 14px;

				&.icon-title {
					color: $secondary-color;
					display: block;
					padding-top: 2px;
				}

				&.icon-detail {
					font-weight: bold;
				}
			}

			.large-4 {
				padding-left: 0;
			}
		}

		.description {
			p {
				margin-bottom: 10px;
			}

			ul {
				list-style-type: square;
			}
		}

		.apply-bottom {
			background: #FFF;
			border: 1px solid #e1e1e1;
			position: relative;
			padding: 15px 20px;
			margin: 10px 0 50px 0;
			@include box-shadow(0 1px 5px rgba(0,0,0, .2));

			h3 {
				font-size: 20px;
				font-weight: bold;
				margin: 0 0 7px 0;
			}

			span {
				display: block;
				margin-bottom: 10px;
				color: $secondary-color;
			}

			a.button {
				margin: 0;
			}

			.icon-apply {
				position: absolute;
				bottom: 15px;
				right: 20px;
			}
		}

	}


	// SIDEBAR APPLY

	#apply-sidebar {
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 7px 0;
		}

		span {
			display: block;
			margin-bottom: 15px;
			color: $secondary-color;
		}

		.form {
			padding-left: 5px;
		}
	}

}




@media #{$small-only} { 

	#content {
		padding-bottom: 100px;

		#job-description {

			.job-details {
				padding: 0 0 10px 0;

				.large-4 {
					padding: 10px 0;
				}

			}
		}
	}

	footer {
	padding: 10px 15px;
	height: 80px;
	text-align: center;

		p {
		  float: none !important;
		  //text-align: center;
		  display: block;
		  line-height: 30px;
		}
	}

	nav {
		float: none !important;
		text-align: center;

		ul {
		  margin: 0;


		  li {
		    display: inline;
		    line-height: 30px !important;
		  }
		}
	}

}

@media #{$medium-only} { 

	#content {
		//padding-bottom: 100px;

		#job-description {

			.job-details {
				padding: 0 0 10px 0;

				.large-4 {
					padding: 10px 0;
				}

			}
		}
	}
}