@import "compass/css3";
@import "framework/mixins";
@import "framework/components/global";


#search {
	.logo {
		padding: 40px 0 30px 0;
	}
	h1 {
		font-weight: 300;
		font-size: 40px;
	}

	.block-search {
		margin-top: 40px;

		label {
			font-size: 18px;
			font-weight: 600;
			color: $black-color;
		}

		input {
			font-weight: 400;
			height: 55px;
			padding-left: 15px;
			font-size: 18px;
		}

		a {
			@include border-radius(0);
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

}

.job-stats {
	margin-top: 20px;
	margin-bottom: 20px;

	p {
		font-size: 18px;
		margin-bottom: 6px;
		color: $black-color;
	}

	nav {
		list-style:none;
	    margin:0;
	    padding:0;
	    text-align:center;
		
		ul {
			margin: 0;

			li {
				display:inline;

				a {
					font-size: 14px;
					color: $primary-color;
					display:inline-block;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			li + li:before{
			    content: "•";
			    font-size: 12px;
			    padding: 0 10px;
			    color: #c2c5c7;
			}
		}
	}
}




@media #{$small-only} { 

	#content {
	    padding-bottom: 200px;
	  }

	  footer {
	    padding: 10px 15px;
	    height: 80px;
	    text-align: center;

	    p {
	      float: none !important;
	      //text-align: center;
	      display: block;
	      line-height: 30px;
	    }
	  }

	  nav {
	    float: none !important;
	    text-align: center;

	    ul {
	      margin: 0;


	      li {
	        display: inline;
	        line-height: 30px !important;
	      }
	    }
	  }

	#search {
		.logo {
			max-width: 50%;
			padding: 30px 0 15px 0;
		}

		h1 {
			font-size: 24px;
		}

		.block-search {
			margin-top: 20px;

			.large-2 {
				label {
					display: none;
				}
			}
		}
	}

}