@import "compass/css3";
@import "framework/mixins";
@import "framework/components/global";


body {
	background-color: #f7f7f7;
}

#content {
	padding-top: 45px;

	// PROMO
 
	h1 {
		color: $primary-color;
		font-size: 30px;
	}

	p {
		font-size: 18px;
	}


	// SIDEBAR APPLY

	#signup-form {
	  padding: 0;

	  .panel {
	    padding: 0;
	    background-color: #FFF;
	    border: none;
	    @include box-shadow(0 1px 3px rgba(0,0,0,.2));
	  }

	  .panel-title {
	    padding: 25px 30px;
	    border-bottom: 1px solid #f2f2f2;

	    span {
	      color: $black-color;
	      font-size: 16px;
	      font-weight: bold;
	    }
	  }

	  .panel-content {
	    padding: 25px 30px;

	    span {
	    	&.login-link{
		    	font-size: 14px;
		    	color: #a6a6a6;
		    	margin-bottom: 15px;
		    	display: block;
		    }

		    &.file-type {
		    	font-size: 12px;
		    	color: #a6a6a6;
		    	display: block;
		    }
	    }

	    label {
	    	font-weight: bold;
	    }

	    input[type="text"], input[type="email"] {
	    	//border-color: #e8e8e8;
	    	@include box-shadow(none);
	    }

	    input[type="file"] {
	    	margin: 10px 0;
	    	font-size: 14px;
	    }

	    .checkbox-terms {
	    	//padding: 0;
	    	margin: 15px 0 0 0;
	    	font-weight: normal;
	    	font-size: 12px;
	    }

	    .button {
	      font-size: 14px;
	      margin: 0;
	    }
	  }
	}

}




@media #{$small-only} { 

	header {
		height: 100%;

		.header-search {
			background: red;
			display: none;
		}

		.button {
			margin: 0 0 30px 0;
		}

	}

	.search-toggle {
		display: block;
	}

	#content {
		padding-bottom: 100px;
		padding-top: 20px;

		h1 {
			font-size: 18px;
		}

		p {
			font-size: 14px;
		}
	}

	footer {
	padding: 10px 15px;
	height: 80px;
	text-align: center;

		p {
		  float: none !important;
		  //text-align: center;
		  display: block;
		  line-height: 30px;
		}
	}

	nav {
		float: none !important;
		text-align: center;

		ul {
		  margin: 0;


		  li {
		    display: inline;
		    line-height: 30px !important;
		  }
		}
	}

}

@media #{$medium-only} { 

	header {
		height: 100%;

		.header-search {
			background: red;
			display: none;
		}

		.button {
			margin: 0 0 30px 0;
		}

	}

	.search-toggle {
		display: block;
	}

	#content {
		//padding-bottom: 100px;

		#job-description {

			.job-details {
				padding: 0 0 10px 0;

				.large-4 {
					padding: 10px 0;
				}

			}
		}
	}
}